process {

    withName: SRATOOLS_PREFETCH {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SRATOOLS_FASTERQDUMP {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: FORMAT_INPUT_FROM_SRA {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: FASTQC {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: MULTIQC {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_SORT_DEFAULT {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_SORT_BY_NAME {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HISAT2_ALIGN {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_VIEW_READ_NO_MATE {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_VIEW_MATE_NO_READ {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_VIEW_READ_AND_MATE {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SAMTOOLS_BAM_TO_SAM {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT_NU {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT_FOR {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT_REV {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT_FOR_NU {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: HTSEQ_COUNT_REV_NU {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: 'SAMTOOLS_FILTER_UNIQUE' {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: 'SAMTOOLS_FILTER_NU' {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: 'SAMTOOLS_FILTER_UNIQUE_SECOND' {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }    

    withName: 'SAMTOOLS_FILTER_NU_SECOND' {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

    withName: SRATOOLS_FASTERQDUMP {
        clusterOptions = '-M 12000 -R "select[mem>=12000] rusage[mem=12000]'
    }

}