/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_SORT_DEFAULT {
        ext.prefix = 'sortDefault'
    }

    withName: SAMTOOLS_SORT_BY_NAME {
        ext.args = '-n' //sort by name
        ext.prefix = 'sortedByName'
    }


    if (params.intronLength <= 20) {
        withName: HISAT2_ALIGN {
            ext.args = '-p 8 --no-spliced-alignment'
        }
    }
    else {
        withName: HISAT2_ALIGN {
        ext.args = "-p 8 --max-intronlen ${params.intronLength}"
        }
    }

    withName: SAMTOOLS_VIEW_READ_NO_MATE {
        ext.args = '-bh -F 4 -f 8'
        ext.prefix = 'readOnly'
    }
    withName: SAMTOOLS_VIEW_MATE_NO_READ {
        ext.args = '-bh -F 8 -f 4'
        ext.prefix = 'mateOnly'
    }
    withName: SAMTOOLS_VIEW_READ_AND_MATE {
        ext.args = '-b -F 12'
        ext.prefix = 'both'
    }

    withName: HTSEQ_COUNT {
        ext.args = "-a 0 -f bam -s no -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'unstranded_unique'
    }
    withName: HTSEQ_COUNT_NU {
        ext.args = "-a 0 -f bam --nonunique all -s no -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'unstranded_nu'
    }
    withName: HTSEQ_COUNT_FOR {
        ext.args = "-a 0 -f bam -s yes -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'forward_unique'
    }
    withName: HTSEQ_COUNT_REV {
        ext.args = "-a 0 -f bam -s reverse -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'reverse_unique'
    }

    withName: HTSEQ_COUNT_FOR_NU {
        ext.args = "-a 0 -f bam --nonunique all -s yes -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'forward_nu'
    }
    withName: HTSEQ_COUNT_REV_NU {
        ext.args = "-a 0 -f bam --nonunique all -s reverse -t ${params.cdsOrExon} -i gene_id"
        ext.prefix = 'reverse_nu'
    }
    withName: 'SAMTOOLS_FILTER_UNIQUE*' {
        ext.regex = "^@|NH:i:1(\\s|\$)"
        ext.prefix = 'unique'
    }
    withName: 'SAMTOOLS_FILTER_NU*' {
        ext.regex = "^@|NH:i:([2-9]|1[0-9])"
        ext.prefix = 'nu'
    }









}
